<?xml version="1.0" encoding="utf-8"?>
<select>
	<option
        hisname="CHÚC M?NG SINH NH?T NG?C LAN TR?NG" 
        msg="HAPPY BIRTHDAY!" 
        sender="I LOVE YOU"
        src1="images/twitter.png" 
        src2="images/facebook.png" 
        src3="images/google.png" 
        value1="activeden.net/user/sadfishing/portfolio"
        value2="activeden.net"
        value3="activeden.net/category/flash/animations"
	/>

</select>



