BODY {
	SCROLLBAR-FACE-COLOR: #ed73a6; FONT: 11px Tahoma; SCROLLBAR-HIGHLIGHT-COLOR: #f4508f; SCROLLBAR-SHADOW-COLOR: #f4508f; SCROLLBAR-3DLIGHT-COLOR: #fba9cd; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #fbd5e5; SCROLLBAR-DARKSHADOW-COLOR: #fba9cd; BACKGROUND-COLOR: #f93f90
}
TD {
	SCROLLBAR-FACE-COLOR: #ed73a6; FONT: 11px Tahoma; SCROLLBAR-HIGHLIGHT-COLOR: #f4508f; SCROLLBAR-SHADOW-COLOR: #f4508f; SCROLLBAR-3DLIGHT-COLOR: #fba9cd; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #fbd5e5; SCROLLBAR-DARKSHADOW-COLOR: #fba9cd
}
BODY {
	FONT: 11px Tahoma; COLOR: #ffffff
}
TD {
	FONT: 11px Tahoma; COLOR: #ffffff
}
TABLE {
	FONT: 11px Tahoma; COLOR: #ffffff
}
INPUT {
	FONT: 11px Tahoma; COLOR: #ffffff
}
TEXTAREA {
	FONT: 11px Tahoma; COLOR: #ffffff
}
UNKNOWN {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none; ETTER-SPACING: 2px
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none; ETTER-SPACING: 2px
}
